Repository Averito/AverlistUI: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "npm run eslint:fix"
  ],
  "src/**/*.scss": [
    "npm run stylelint:fix"
  ]
}

pre-commit hook
  .husky/_/pre-commit
  .husky/pre-commit
  package-lock.json
  package.json
  vite.config.ts
Due: none

add stylelint and lint-staged
  .eslintrc.json
  package-lock.json
  package.json
  src/App.scss
  src/App.tsx
  src/main.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/header.css
  src/stories/page.css
Due: npm run eslint:fix, npm run stylelint:fix

npm publish
  .github/workflows/deploy.yml
  .npmignore
  .npmrc
  package.json
Due: none

npm publish public
  .github/workflows/deploy.yml
  .gitignore
  dist/App.d.ts
  dist/App.d.ts.map
  dist/averlist-ui.js
  dist/main.d.ts
  dist/main.d.ts.map
  dist/stories/Button.d.ts
  dist/stories/Button.d.ts.map
  dist/stories/Button.stories.d.ts
  dist/stories/Button.stories.d.ts.map
  dist/style.css
  dist/vite.svg
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  tsconfig.json
  vite.config.ts
Due: npm run eslint:fix

Commit
  .husky/_/pre-commit
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Button/Button.module.scss
  src/stories/Button/Button.stories.tsx
  src/stories/Button/Button.tsx
  src/stories/Button/Button.types.ts
  src/stories/Button/index.ts
  src/stories/button.css
Due: npm run eslint:fix, npm run stylelint:fix

fix
  .husky/_/pre-commit
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/index.ts
  src/stories/Button/Button.module.scss
Due: npm run eslint:fix, npm run stylelint:fix

update
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
Due: npm run eslint:fix, npm run stylelint:fix

fix
  src/components/Button/Button.tsx
Due: npm run eslint:fix

feat: Loader component
  src/App.scss
  src/App.tsx
  src/components/Loader/Loader.stories.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/Loader.type.ts
  src/components/Loader/index.ts
  src/index.css
  src/main.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/button.css
Due: npm run eslint:fix, npm run stylelint:fix

fix: update version
  package.json
Due: none

fix: library options
  .gitignore
  .npmignore
  dist/App.d.ts
  dist/App.d.ts.map
  dist/averlist-ui.js
  dist/main.d.ts
  dist/main.d.ts.map
  dist/stories/Button.d.ts
  dist/stories/Button.d.ts.map
  dist/stories/Button.stories.d.ts
  dist/stories/Button.stories.d.ts.map
  dist/style.css
  package-lock.json
  package.json
  src/App.tsx
  src/main.ts
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: npm run eslint:fix

fix: library options
  .npmrc
  dist/main.d.ts
  dist/main.d.ts.map
  package.json
  tsconfig.json
  vite.config.ts
Due: none

fix: remove icons
  dist/vite.svg
  package.json
  public/vite.svg
  src/assets/react.svg
Due: none

styles fix
  src/components/Button/Button.module.scss
Due: npm run stylelint:fix

loading button fix
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
Due: npm run eslint:fix, npm run stylelint:fix

feat: add README.md
  README.md
Due: none

s
  dist/main.d.ts
Due: none

fix
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
Due: npm run eslint:fix, npm run stylelint:fix

update
  src/components/Button/Button.module.scss
Due: npm run stylelint:fix

fix: active style on loading
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
Due: npm run eslint:fix, npm run stylelint:fix

feat: update version to 0.0.6: Button
  package.json
Due: none

feat: update version to 0.0.7
  package-lock.json
  package.json
  src/components/index.ts
  src/main.ts
Due: npm run eslint:fix

feat: update version to 0.0.8
  package-lock.json
  package.json
Due: none

fix: npm i instead of npm ci
  .github/workflows/deploy.yml
Due: none

fix: imports
  src/components/Button/Button.tsx
  src/components/index.ts
  src/main.ts
Due: npm run eslint:fix

fix: package-lock.json
  package-lock.json
Due: none

fix: Button.tsx
  .husky/_/pre-commit
  package-lock.json
  package.json
  src/components/Button/Button.tsx
Due: npm run eslint:fix

fix: styles import
  package-lock.json
  package.json
  src/components/Button/Button.tsx
  vite.config.ts
Due: npm run eslint:fix

fix: optional deps
  .github/workflows/deploy.yml
  package.json
Due: none

fix: optional deps
  .github/workflows/deploy.yml
Due: none

fix: style remark
  README.md
  package.json
  src/components/Button/Button.module.scss
Due: npm run stylelint:fix

fix: pre-commit
  .husky/_/pre-commit
Due: none

feat: copied Modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Modal/index.ts
  src/hooks/useOutside.ts
Due: npm run eslint:fix, npm run stylelint:fix

Checkbox Component
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/Checkbox/index.ts
Due: npm run eslint:fix

Added prototype Flex Component
  src/components/Flex/Flex.module.scss
  src/components/Flex/Flex.stories.tsx
  src/components/Flex/Flex.tsx
  src/components/Flex/Flex.types.ts
  src/components/Flex/index.ts
Due: npm run eslint:fix, npm run stylelint:fix

fix: added imports for index.ts
  src/components/index.ts
Due: npm run eslint:fix

fix: add exports
  src/components/Flex/Flex.stories.tsx
  src/main.ts
Due: npm run eslint:fix

fix: more stories for Flex Component
  src/components/Flex/Flex.stories.tsx
Due: npm run eslint:fix

fix: new version
  package.json
Due: none
